zuper-typing-z7
zuper-ipce-z7
compmake-z7
pyparsing==2.4.6
PyContracts3>=3.0.2
networkx<=3
termcolor==1.1.0

# testing
comptests-z7
coverage==5.0.3

base58<2.0,>=1.0.2
codecov==2.0.16
pydot==1.4.1
pipdeptree
